html,
body {
  height: 100%;
  padding: 8px 10px;
  box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, sans-serif;
  color: #333333;
}

h1 {
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 200;
}

button {
  font-size: 12px;
  padding: 5px;
  margin-top: 10px;
}

.sectionSvg {
  margin: 20px 0px;
  margin-bottom: 30px;
}

.subtitle {
  font-size: 13px;
}

text {
  font-family: "Courier New", Courier, monospace;
}

text.textA {
  font-weight: bold;
}
text.textB {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 11px;
}
text.textC {
  letter-spacing: 17px;
  font-weight: bold;
}

tspan {
  font-family: "Courier New", Courier, monospace;
}

#pathLineSvg {
  height: 220px;
}

#pathAreaSvg {
  height: calc(100% - 50px);
}

#linechart {
  height: calc(100% - 60px);
}

.xAxis g text {
  transform: rotate(-90deg);
  text-anchor: end;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  color: white;
  pointer-events: none;
}
